<div class="jumbotron text-center">
  <h1>MEAN To Do App</h1>
  <p class="lead">Welcome to out To Do app made with MEAN stack!</p>
  <p class="lead">Start by registering or if you already have account Login!</p>
</div>

<div class="container">
  <div class="row row-cols-2 mt-5 text-center">
    <div class="col-sm-12 col-md-6">
      <div class="card bg-light shadow-sm col-md-10 mx-auto">
        <div class="col-sm-7 mx-auto card-body">
          <h3>Register!</h3>
          <p>
            Ut volutpat molestie nunc quis ultrices. Vivamus dignissim turpis
            turpis. Pellentesque quis purus sed sem suscipit condimentum.
          </p>
          <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card bg-light shadow-sm col-md-10 mx-auto">
        <div class="col-sm-7 mx-auto card-body">
          <h3>Login!</h3>
          <p>
            Ut volutpat molestie nunc quis ultrices. Vivamus dignissim turpis
            turpis. Pellentesque quis purus sed sem suscipit condimentum.
          </p>
          <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
