<div class="card mx-auto shadow col-sm-6">
  <div class="card-body">
    <h3 class="card-title text-center">Login</h3>
    <form class="form-signin" (submit)="onLoginSubmit()">
      <div class="form-group col-sm-9 mx-auto">
        <label for="Username">Username</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Username"
          [(ngModel)]="username"
          name="username"
        />
      </div>
      <div class="form-group col-sm-9 mx-auto">
        <label for="Password">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder=" Enter Password"
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <div class="text-center mt-3">
        <input class="btn btn-lg btn-primary" type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>
